<title>About</title><link rel="stylesheet" type="text/css" href="about.css">
<h1>About</h1>

<div class ="well">
  <p>
  Wooyoung is currently a 14-yo student/programmer. Woo was born in August 24th, 1999. At age five he moved to Minnesota with his family, because of his dads job. Wooyoung has two brothers who are ten years older than him. Wooyoung is a beginner programmer, and he has created this website with the ruby on rails tutorial. Wooyoung went to Lake Middle School in MN, and will be starting his freshmen year this fall. Follow Wooyoung below! Also check out a small game, Wooyoung has made: http://techknowhowkids.com/games13/adda/LukeChAction/
  </p>
  </div>
<h2>Next Updates</h2>
  <div class ="well">
    <ul>
      <li>Instead of showing as uploaded by users email, it will be shown as uploaded by name</li>
      <li>New user Profiles will be created</li>
      <li>Endless scrolling will be made</li>
      <li>Easier use on Iphone</li>
      <li>Bug fixes</li>
      <li>More pages</li>
      <li>Possibly a new url!</li>
    </ul>

  </div>
