
<div class = "hero-unit">
<h1>Welcome To Luke's website</h1>

<p>
  Luke, is currently living in SF, with his older brother Bryan C.
</p>
</div>
<p>
Also go to the website to learn to make something like this click <%=link_to "One Month Rails","http://onemonthrails.com" %>
</p>

<p>
  <%= link_to "Sign Up Now!","#"%>
</p>
