 <div class ="footer">
        <small>
          <p>Follow Luke on <a href="https://twitter.com/Luke_wchang">Twitter</a> and <a href="http://instagram.com/lukechang00">Instagram</a> How he learned:
            <%= link_to "One Month Rails","http://onemonthrails.com"%></p>
        <small>
  </div>